.footer { 
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #272838;
    box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.25);
    padding: 10px;
    position: sticky;
    z-index: 100;
    bottom: 0;
    font-size: 1.275rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
}


.footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #9CA3AF;
    text-decoration: none;
    transform: text-shadow 0.2s ease;
}

.footer a:hover {
    color: #A78BFA;
    text-shadow: 0 0 12px rgba(167, 139, 250, 0.7);
    transition: text-shadow 0.2s ease, color 0.2s ease;
    filter: drop-shadow(0 0 6px rgba(167, 139, 250, 0.7));

}

.footer svg {
      fill: #EDEDF0;
}
